<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TecNoticias</title>
        <link rel="icon" type="image/png" href="{% static 'img/TCN_logo_color.png' %}">
        <!--carga de estilo css-->
        <link rel="stylesheet" href="{% static 'styles/style.css' %}?v=2">
        <!-- Fuentes-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Contenedor principal de la imagen -->
        <div class="caja_principal_imagentx">
            <div class="Menus">
                <li><a href="{% url 'quienessomos' %}">¿Quienes somos?</a></li>
                <li><a href="{% url 'contacto' %}">Contactanos</a></li>
                {% if user.is_authenticated %}
                <li class="bienvenidouser">
                    {% if user.icono %}
                        <img src="{{ user.icono.url }}" alt="Icono de {{ user.username }}" class="icono_usuario">
                    {% endif %}
                    Bienvenido, {{ user.username }}
                </li>
                <li class="boton_cerrarses">
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="bot_cerrar">Cerrar sesión</button>
                    </form>
                </li>
            {% else %}
                <li><a class="boton_inicioses" href="{% url 'login' %}">Iniciar Sesión</a></li>
            {% endif %}
            </div>
            <div class="caja_principal_imagen">          
                <img src="{% static 'img/fondo_inicio2.png' %}" alt="fondo de inicio" class="fondo-imagen">           
            </div>
            <div class="caja_principal_logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/TCN_logo.png' %}" alt="logo TecNoticias" class="logo">
                </a>
            </div>
            <div class="caja_principal_texto">
                <h1>
                    TECNOTICIAS
                </h1>
                <h2>
                    CIBERSEGURIDAD
                </h2>
            </div>
        </div>

        <div class="mensaje_bienvenida">
                <h3>
                    ¡Bienvenido/a a nuestro rincón digital donde la ciberseguridad es la clave! <br>
                    <br>                
                    Acá no solo hablamos de firewalls y antivirus, sino que nos sumergimos en el código fuente del mundo digital. Si te apasionan los bugs, los exploits, y los hacks más frescos, ésta es tu cueva digital.
                    Ya seas un ninja del teclado, un dev en busca de consejos, o simplemente alguien que quiere saber cómo blindar su Wi-Fi, este blog es para vos. <br>
                    <br>
                    Preparate para explorar vulnerabilidades, proteger tus datos y convertirte en todo un jedi de la seguridad digital.
                    Así que empecemos! 
                </h3>
        </div>

        <div class="contenedor_blog_categorias">
            <div class="contenedorblog_inicio">                              
                <div class="contenedorblog_categorias">
                    <ul>
                        <li>
                            <a href="?">Todos</a>  
                        </li>
                        {% for categoria in categorias %}
                            <li>
                                <a href="?categoria={{ categoria.nombre }}">{{ categoria.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="contenedorposteos">
            {% for i in posts %}
                <div class="contenedorposteos_tarjeta">
                    <div class="tarjeta_img">
                        <div class="categorianoticia">
                            <img src="{% static 'img/iconos/etiqueta.png' %}" alt="Etiqueta" class="icono-etiqueta">
                            <h3>{{ i.categoria.nombre }}</h3>
                        </div>
                        {% if i.imagen %}
                        <img class="imagenposts" src="{{ i.imagen.url }}" alt="noticia">
                        {% else %}
                            <p> No hay imagen disponible</p>
                        {% endif %}
                    </div>
                    <div class="tarjeta_datos">
                        <h4>{{ i.autor.username }}</h4>
                        <h4>{{ i.fecha }}</h4>
                    </div> 
                    <h2>{{ i.titulo }}</h2>
                    <p>{{ i.resumen }}</p>
                    <div class="boton_vernoticia">
                        <a href="{% url 'postindividual' i.id %}">LEER MÁS &rarr;</a> 
                    </div>   
        
                    {% if user.is_staff or user.is_superuser %}
                    <div class="boton_eliminar_contenedor">
                        <form action="{% url 'eliminar_post' i.id %}" method="post">
                            {% csrf_token %}
                            <button class="bot_eliminar" type="submit" title="Eliminar">x</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            {% empty %}
                <p>No hay temas disponibles!</p> 
            {% endfor %}
        </div>

        <!-- Barra de paginación -->
        <div class="paginacion">
            <div class="pagina-enlaces">               
                <span>-</span>
    
                {% for num in posts.paginator.page_range %}
                    {% if num == posts.number %}
                        <strong>{{ num }}</strong>
                    {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}    
                <span>-</span>
            </div>
        </div>     
        <div>
            <div class="contenedor_imagen_app">
                <img src="{% static 'img/imagen_app.png' %}" alt="aplicacion" class="imagen_aplicacion">
            </div>
        </div>
        <footer>
            <div class="contenedor_redes">
                <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="static/img/iconos/instagram.png" alt="instagram" title="instagram"/></a>
                <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="static/img/iconos/facebook.png" alt="facebook" title="facebook"/></a>
                <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="static/img/iconos/twitter.png" alt="x-twitter" title="x-twitter"/></a>
                <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="static/img/iconos/youtube.png" alt="youtube" title="youtube"/></a>
            </div>
                                   
        </footer>
    </body>