<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TecNoticias</title>
        <link rel="icon" type="image/png" href="{% static 'img/TCN_logo_color.png' %}">
        <!--carga de estilo css-->
        <link rel="stylesheet" href="{% static 'styles/style_login.css' %}?v=2">
        <!-- Fuentes-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="contenedor_ppal">
            <div class="Menus">
                <li><a href="{% url 'index' %}">Volver al menú principal</a></li>
                <li><a href="{% url 'quienessomos' %}">¿Quienes somos?</a></li>
                <li><a href="{% url 'contacto' %}">Contactanos</a></li>
                {% if user.is_authenticated %}
                <li class="bienvenidouser">
                    {% if user.icono %}
                        <img src="{{ user.icono.url }}" alt="Icono de {{ user.username }}" class="icono_usuario">
                    {% endif %}
                    Bienvenido, {{ user.username }}
                </li>
                <li class="boton_cerrarses">
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="bot_cerrar">Cerrar sesión</button>
                    </form>
                </li>
            {% else %}
                <li><a class="boton_inicioses" href="{% url 'login' %}">Iniciar Sesión</a></li>
            {% endif %}
            </div>
            <div class="contenedor_ppal-img">
                <img src="{% static 'img/login_fondo.png' %}" alt="">
            </div>
            <div class="registro_logo">
                <a href="{% url 'posts' %}">
                    <img src="{% static 'img/TCN_logo.png' %}" alt="">
                </a>
            </div> 
            <div class="caja_principal_texto">
                <h1>
                    TECNOTICIAS
                </h1>
                <h2>
                    CIBERSEGURIDAD
                </h2>
            </div>
        </div>
        <div class="contenedor_nuevo_registro_img">
            <img src="{% static 'img/Registro.png' %}" alt="">
        </div>
        <div class="contenedor_registronuevo">
            <div class="contenedor_gral_registronuevo">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="registrouser_titulo">
                        <h1>Creá tu usuario</h1>
                    </div>
                    <div class="formregistro_columnas">
                        <div class="formregistro_izq">
                            <div class="formregistro_input">
                                <label for="id_username">Nombre de usuario</label>
                                {{ form.username }}
                            </div>
                            <div class="formregistro_input">
                                <label for="id_email">Correo electrónico</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="formregistro_der">
                            <div class="formregistro_input">
                                <label for="id_password1">Contraseña</label>
                                {{ form.password1 }}
                            </div>
                            <div class="formregistro_input">
                                <label for="id_password2">Confirmar contraseña</label>
                                {{ form.password2 }}
                            </div>
                        </div>
                    </div>             
                    <div class="contenedor_botonregistro">
                        <button type="submit" class="boton_registrarse">Registrarse</button>
                    </div>
                    <div class="form-group">
                        <label for="id_icono" class="texto_subirimg">Subí tu imagen de perfil</label>
                        <div class="file-upload-wrapper">
                            <label for="file-upload" class="custom-file-upload">
                                Seleccionar archivo
                            </label>
                        </div>
                    </div>
                    
                </form>  
            </div>
        </div>


    </body>      
