:root {
    --negro: #000000;
    --gris: #4b4b4b;
    --gris_claro: #b1b1b1;
    --blanco: #f0f0f0;
    --magenta: #AE0061;
    --violeta: #5A61F7;
    --azul: #012187;    
}

/* ESTILOS GENERALES */
body, h1, h2, h3, p, h4, li, ul, section, div, a, ol, img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poiret One", sans-serif;
    color: var(--blanco);
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.contenedor_ppal {
    position: relative; /* Posiciona el contenedor padre para que los elementos hijos con position: absolute se posicionen en relación a él */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;     
}

.contenedor_ppal-img img {
    opacity: 40%;       
} 

/* Estilos del texto sobre la imagen */

.caja_principal_texto {
    position: absolute;
    top: calc(10% + 300px); /* Ajusta la posición del texto para que esté debajo del logo */
    left: 5%;
    transform: translateX(-50%) rotate(270deg); /* Centra el texto y lo gira 90 grados */
    color: white;
    z-index: 3;
    background-color: #ffffff00; /* Fondo transparente */
    width: auto; /* Asegúrate de que no haya un límite de ancho */
    white-space: nowrap;
}

.caja_principal_texto h1 {
    position: relative;
    font-family: 'Poiret One', sans-serif;
    font-size: 80px;
    top: 10%;
    left: -7%;
    letter-spacing: 1px;
}

.caja_principal_texto h2 {
    position: relative;
    font-family: 'Poiret One', sans-serif;
    font-size: 20x;
    margin-top: -10px; /* Para dar más espacio bajo h1 */
    top: 15%;
    left: -5%;
    font-weight: 100px;
    letter-spacing: 5px;
    font-style: normal;
}


.registro_logo img {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translateX(-50%);
    width: 80px; /* Ajusta el tamaño de la imagen si es necesario */
    max-width: 12rem;
    height: auto;
    z-index: 3;  
}

.Menus {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2.5rem;
    margin-right: 2rem;
    z-index: 10;
    display: flex; /* Para alinear los elementos horizontalmente */
    gap: 2rem; /* Espacio entre cada opción */
}

.Menus a {
    color: white; /* Ajusta el color de las opciones si es necesario */
    text-decoration: none; /* Elimina el subrayado por defecto de los enlaces */
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente según tu preferencia */
}

.Menus a:hover {
    color: var(--magenta); /* Cambia el color al pasar el mouse */
}

.contenedor_nuevo_registro_img {
    position: absolute;
    top: 25%; 
    left: 60%; 
    z-index: 3;
    width: auto; /* No limites el ancho del contenedor */
    height: auto; /* Mantén la proporción */
}

.contenedor_nuevo_registro_img img {
    width: 30rem; /* Cambia el tamaño directamente en la imagen */
    height: auto; /* Mantén la proporción original */
    max-width: none; /* Evita que haya límites en el ancho */
}

/* -------------------LOGIN ------------------*/
.contenedorpadre_registro {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 1;
}

.contenedor_img img{
    position: relative;
    top: 0%;
    left: 100%;
    transform: translateX(-100%);
    width: 90%; /* Ajusta el tamaño de la imagen si es necesario */
    max-width: 20rem;
    height: auto;
    z-index: 3;    
}

.contenedorgral_registro {
    position: relative;
    background-color: rgba(0, 0, 0, 0.700);
    border-radius: 1rem;
    display: flex;
    width: 100%;
    height: 60%; 
    padding: 2rem;  
    justify-content: space-between;
    /*top: 0%;
    left: 0%;  */  
    
}

.contenedor_login {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contenedor_login h1 {
    font-size: 1.8rem;
    margin: 3rem 0 1rem 0;
    color: var(--blanco);
}

.registro_inputs {
    display: flex;
    flex-direction: column;
}

.input-group {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    max-width: 18rem;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    background-color: rgb(255, 255, 255, 0.5);
    border: 0.5px solid #c4c4c4;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: white;
    border-color: #7f35bba4;
    outline: none;
    box-shadow: 0 0 6px #7f35bba4;
}

.enlaces_registro {
    text-align: center; /* Centrar el contenido dentro del contenedor */
    margin-top: 10px; /* Ajusta el espacio superior para separar el texto del botón */
}

.enlaces_registro p,
.enlaces_registro a {
    font-family: 'Poiret One','sans-serif';
    font-size: 1rem;
    font-weight: bold;
    color: var(--blanco);
    margin: 0;
}

.enlaces_registro a {
    color: var(--magenta); 
    font-family: 'Roboto'; 
    font-weight: bold; 
}

.iniciosesion {
    margin-top: 1rem;
    background-color: #7f35bb62;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 18rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.iniciosesion:hover {
    background-color: #7f35bba4;
}

/* --------REGISTRO---------*/

.contenedor_registronuevo {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Debe ser mayor que el del contenedor padre si quieres que esté encima */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.contenedor_gral_registronuevo {
    position: relative;
    z-index: 3; /* El z-index debe ser mayor que el de cualquier otro contenedor para que esté encima */
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrouser_titulo {
    position: relative; 
    display: flex;
    top: -20px; /* Ajusta la posición vertical */
    left: 0%; 
    margin: 0;
    z-index: 2;
    font-size: 1rem; /* Ajusta el tamaño de la fuente */
}

.formregistro_columnas {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.formregistro_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 400px;
    
}

.formregistro_input label {
    margin-bottom: 5px;
    font-weight: bold;      
}

.formregistro_input input {
    padding: 10px;
    border: 1px solid #a0a0a0c2;
    border-radius: 4px;
    background-color: #ffffff !important;
    border-color: #7f35bba4;
    outline: none;
    box-shadow: 0 0 6px #7f35bba4;
    
}

.contenedor_botonregistro {
    display: flex;
    justify-content: center;
    width: 100%;
}

.boton_registrarse {
    font-family: "Poiret One";
    background-color: #000000c5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.boton_registrarse:hover {
    background-color: #7f35bba4;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
    margin-bottom: 20px; /* Espacio entre grupos de formulario */
}

.form-group label {
    font-family: "Poiret One";
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
}

.form-group input[type="file"] {
    display: block;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.form-group input[type="file"]:hover {
    border-color: #7f35bba4; /* Cambio de color al pasar el mouse */
}

/* Oculta el botón original de selección de archivo */
input[type="file"] {
    display: none;
}

/* Estilo del contenedor personalizado para el input de archivo */
.file-upload-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center; /* Alinea el contenido al centro */
}

.custom-file-upload {
    background-color: #000000c5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px; /* Espacio entre el botón y el texto del archivo seleccionado */
}

.custom-file-upload:hover {
    background-color: #7f35bba4;
}

/* Estilo para el texto que muestra el nombre del archivo seleccionado */
#file-selected {
    display: block; /* Asegura que el texto esté en una nueva línea debajo del botón */
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}