:root {
    --negro: #000000;
    --gris: #4b4b4b;
    --gris_claro: #b1b1b1;
    --blanco: #f0f0f0;
    --magenta: #AE0061;
    --lilitacarrio: #7E35BB;
    --violeta: #5A61F7;
    --azul: #012187;    
}


/* ESTILOS GENERALES*/
body, h1, h2, h3, p, h4, li, ul, section, div, a, ol, img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poiret One", sans-serif;
    font-size: 1rem;
    color: var(--blanco);
    box-sizing: border-box;
    
}

body {
    background-color: #000000;
}

/* Estilos del contenedor */
.caja_principal_imagentx {
    position: relative; 
    text-align: center;
    height: 100vh;    
    display: flex;  
    overflow: hidden;    
    
}

.Menus {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2.5rem;
    margin-right: 2rem;
    z-index: 1;
    display: flex; /* Para alinear los elementos horizontalmente */
    gap: 2rem; /* Espacio entre cada opción */
}

.Menus a {
    color: white; /* Ajusta el color de las opciones si es necesario */
    text-decoration: none; /* Elimina el subrayado por defecto de los enlaces */
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente según tu preferencia */
}

.Menus a:hover {
    color: var(--magenta); /* Cambia el color al pasar el mouse */
}

.fondo-imagen {
    opacity: 50%;
}
.fondo-imagen img {
    position: absolute;
    width: 100vw;  
    height: 100vh;
    z-index: 1;
    box-sizing: border-box;
    object-fit: cover;
        
}


/* Estilos de la imagen */
.caja_principal_logo img {
    position: absolute;
    top: 10%;
<<<<<<< HEAD
    left: 2.8%;
=======
    left: 3.5%;
>>>>>>> 54cd59933410cb9f735302e7f4e9a65a339d23a8
    transform: translateX(-20%);
    width: 80px; /* Ajusta el tamaño de la imagen si es necesario */
    height: auto;
    z-index: 3; /* Asegura que el logo esté por encima de la imagen de fondo */
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
}

/* Estilos del texto sobre la imagen */
.caja_principal_texto {
    position: absolute;
    top: calc(10% + 300px); /* Ajusta la posición del texto para que esté debajo del logo */
    left: 5%;
    transform: translateX(-50%) rotate(270deg); /* Centra el texto y lo gira 90 grados */
    color: white;
    z-index: 3;
    background-color: #ffffff00; /* Fondo transparente */
    width: auto; /* Asegúrate de que no haya un límite de ancho */
    white-space: nowrap;
}

.caja_principal_texto h1{
    position: relative;
    font-family: 'Poiret One', sans-serif;
    font-size: 80px;
    top: 10%;
    left: -7%;
    letter-spacing: 1px;

}
.caja_principal_texto h2{
    position: relative;
    font-family: 'Poiret One', sans-serif;
    font-size: 20x;
    margin-top: -10px; /* Para dar más espacio bajo h1 */
    top: 15%;
    left: -37%;
    font-weight: 100px;
    letter-spacing: 5px;
    font-style: normal;
 
}

.mensaje_bienvenida h3{
    position: absolute;
    text-align: justify;
    font-family: 'Poiret One', sans-serif;
    color: #bebebe;
    font-size: 20px;
    font-style: normal;
    top: 10%;
    left: 10%;
    right: 50%;
    /*transform: translateX(-50%);  Centra el texto y lo gira 90 grados */
    z-index: 3;
    /*border: 2px solid var(--magenta);*/
    /*background-color: #0000007a;*/
    padding: 25px;
    border-radius: 20px;    
}

.contenedorblog_categorias {
    margin-top: 2.5rem;
}

.contenedorblog_categorias ul {
    display: flex; /* Usar flexbox para alinear los elementos horizontalmente */
    justify-content: space-around; /* Espacio igual entre las categorías */
    gap: 2rem; /* Espacio entre los elementos */
    padding: 0;
    list-style: none; /* Eliminar los puntos de las listas */
    margin: 0;
}

.contenedorblog_categorias li {
    display: inline-block; /* Asegura que los elementos estén en línea */
}

.contenedorblog_categorias a {
    /*color: var(--gris_claro);*/
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    /*border: 1px solid var(--gris);*/
    border-radius: 5px;
    background-color: #00000048;
}

.contenedorblog_categorias a:hover {
    /*background-color: #ae00605e;*/
    color: #ae0060;
}

/* TARJETAS DE POSTEOS */

.contenedorposteos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    box-sizing: border-box;
}

.contenedorposteos_tarjeta {
    position: relative;
    overflow: hidden;
    display: flex;                
    flex-direction: column;       
    justify-content: space-between; 
    width: 35rem;
    height: 34rem; 
    margin: 0.8rem 1rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    box-sizing: border-box;
}

.tarjeta_datos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.tarjeta_datos h4 {
    font-family: 'Poiret One', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--blanco);
    margin: 0.5rem 0;
}

.contenedorposteos_tarjeta h2 {
    font-family: 'Poiret One', sans-serif;
    font-size: 20px;
    align-items:center; 
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}

.contenedorposteos_tarjeta p {
    font-family: 'Poiret One', sans-serif;
    font-size: 0.85rem;
    padding: 0 1rem;
}


.tarjeta_img {
    position: relative;
    box-sizing: border-box;
}

.imagenposts {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    transition: transform 0.5s ease; 
    overflow: hidden; 
}

.imagenposts:hover {
    transform: scale(1.05);
}

.categorianoticia h3{
    display: flex; 
    align-items: center; 
    position: absolute; 
    top: 2rem; 
    left: 2rem; 
    background-color: #67278e85;
    z-index: 1000;
    font-size: 0.8rem; 
    font-weight: 400;
    padding: 0.45rem 1.2rem;
}

.categorianoticia h3 {
    font-family: 'Poiret One', sans-serif;
    font-size: 0.7rem;
}

.icono-etiqueta {
    width: 0.7rem; 
    height: auto; 
    margin-right: 0.5rem; 
}

.boton_vernoticia {
    margin-top: auto; 
    text-align: right;
    margin: 0 0.5rem 1rem 0; 
}

.boton_vernoticia a {
    font-family: 'Poiret One', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--blanco); 
    border: 1px solid var(--blanco);
    padding: 0.3rem 1rem; 
    border-radius: 0.5rem; 
    text-decoration: none; 
    transition: all 0.4s ease;
}

.boton_vernoticia a:hover {
    background-color: var(--magenta);
    color: var(--blanco);
}

.boton_eliminar_contenedor {
    position: absolute;
    top: 25px; 
    right: 10px;
    z-index: 1000;
}

.bot_eliminar {
    background-color: var(--magenta);
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 20%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    margin: 0.2rem;
}

/** PAGINA DE PUBLICACION **/

.contenidonoticia {
    margin: 0 20rem;
}

.contenidonoticia_titulos h4 {
    font-family: "Poiret One", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
}

.contenidonoticia_titulos h2 {
    font-size: 1.9rem;
    margin-top: 1rem;
    max-width: 80%;
}

.contenidonoticia_titulos--division {
    height: 1px; 
    background-color: #000; 
    width: 75%; 
    margin: 10px 0; 
}

.redesautor_noticia {
    display: flex;
    justify-content: space-between;
    margin-right: 20rem;
    
}

/*.icon1 img {
    width: 1.8rem;
    height: auto;
    margin-left: 0.3rem;
}*/

.contenidonoticia_titulos p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contenidonoticia_resumen p {
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.95rem;
    max-width: 50%;
    line-height: 1.3;
}

.contenidonoticia_imagen {
    margin-top: 2rem;
    
}

.contenidonoticia_imagen img {
    width: 100%;

}


.contenidonoticia_texto p {
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    max-width: 50%;
    line-height: 1.3;
}

.contenidonoticia_texto p {
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    max-width: 50%;
    line-height: 1.3;
    max-width: 100%; 
    column-count: 2; 
    column-gap: 3rem; 
    margin-top: 1rem;
}

.contenidonoticia_texto--division {
    height: 1px; 
    background-color: var(--gris);
    width: 100%;
    margin: 10px 0;  
    margin-top: 3rem; 
}

.formcomentario, .contenidocomentarios {
    margin: 0 20rem;
}

.contenidocomentarios_titulo h3 {
    font-size: 1.3rem;
    margin: 0 20rem;
    font-weight: 600;

}

.contenidocomentarios {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
    gap: 3rem;
    margin-top: 1.5rem; 
}

.contenidocomentarios_usuario {
    flex: 1 1 20rem; 
    min-width: 10rem; 
}

.contenidocomentarios_usuario h4 {
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    max-width: 50%;
    line-height: 1.3;
    color: var(--gris);
}

.contenidocomentarios_usuario p {
    font-size: 0.8rem;   
    margin-top: 0.5rem;
    color: var(--gris);
}

.paginacion_comentarios {
    margin: 1.8rem 20rem;
    display: flex;
    justify-content: end;
}

.contenidonoticia_texto--division2 {
    display: flex;
    justify-content: center;
    height: 1px; 
    background-color: #000; 
    width: 67%; 
    margin: 2rem 20rem;

}


.formcomentario h3 {
    font-size: 1.3rem;
    font-weight: 600;  
    margin-bottom: 1rem;  
}

.form-group input,
.form-group textarea {
    border: none;
    width: 50%;                 
    padding: 0.5rem;              
    border-bottom: 1px solid #a0a0a0;
    font-size: 0.9rem;  
    overflow: hidden;  
    font-family: Poppins;
    font-size: 0.8rem;     
}

.form-group {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
}

.form-group textarea {
    resize: none; 
    width: 30%; 
    overflow: hidden; 
    height: auto;               
    min-height: 0.1px; 
    max-height: 15rem;           
    overflow-y: hidden;          
    transition: height 0.2s;   
    outline: none;  
   
}

.form-group textarea:focus {
    border-bottom: 2.5px solid #a0a0a0;
}

.btn-submit {
    background-color: #a0a0a0;
    color: white;                
    padding: 0.25rem 0.5rem;        
    border: none;               
    border-radius: 2rem;        
    cursor: pointer;  
    height: 1.5rem;          
    font-size: 1rem;
    margin-left: 1rem;            
    transition: background-color 0.3s; 
}

.btn-submit:hover {
    background-color: #009E87; 
}

.contenedor_amb_ind {
    display: flex;
    justify-content: end;
    margin: 0 20rem;
}

.contenedor_amb_ind img {
    margin-right: 1rem;
}

/* MAS PAGINAS - PAGINACION */

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.pagina-info {
    margin-right: 1rem;
}

.pagina-enlaces {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
}

.pagina-enlaces a {
    padding: 0.2rem 0.8rem; 
    font-size: 1rem;
}

.pagina-enlaces strong {
    color: var(--blanco);
    font-weight: 400;
    border-radius: 1rem;

}

.pagina-enlaces a:hover {
    color: var(--verdeagua);
}

.contenedor_imagen_app img{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    position: absolute;
    left: 4%;
}

footer {
    display: flex;
    justify-content: end; 
    gap: 30%; 
    color: white;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: calc(100% - 30px); 
    z-index: 1000; 
}

