:root {
    --negro: #000000;
    --gris: #4b4b4b;
    --gris_claro: #b1b1b1;
    --blanco: #f0f0f0;
    --magenta: #AE0061;
    --violeta: #5A61F7;
    --azul: #012187;    
}

/* ESTILOS GENERALES */
body, h1, h2, h3, p, h4, li, ul, section, div, a, ol, img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poiret One", sans-serif;
    font-size: 1rem;
    color: var(--blanco);
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.contenedor_ppal {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;     
}
/*.contenedor_ppal-img {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
} */

.contenedor_ppal-img img {
    opacity: 40%;       
} 

/* Estilos del texto sobre la imagen */

.caja_principal_texto {
    position: absolute;
    top: calc(10% + 300px); /* Ajusta la posición del texto para que esté debajo del logo */
    left: 5%;
    transform: translateX(-50%) rotate(270deg); /* Centra el texto y lo gira 90 grados */
    color: white;
    z-index: 3;
    background-color: #ffffff00; /* Fondo transparente */
    width: auto; /* Asegúrate de que no haya un límite de ancho */
    white-space: nowrap;
}

.caja_principal_texto h1 {
    position: relative;
    font-family: 'Poiret One', sans-serif;
    font-size: 80px;
    top: 10%;
    left: -7%;
    letter-spacing: 1px;
}

.caja_principal_texto h2 {
    position: relative;
    font-family: 'Poiret One', sans-serif;
    font-size: 20x;
    margin-top: -10px; /* Para dar más espacio bajo h1 */
    top: 15%;
    left: -5%;
    font-weight: 100px;
    letter-spacing: 5px;
    font-style: normal;
}


.registro_logo img {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translateX(-50%);
    width: 80px; /* Ajusta el tamaño de la imagen si es necesario */
    max-width: 12rem;
    height: auto;
    z-index: 3;  
}

.Menus {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2.5rem;
    margin-right: 2rem;
    z-index: 1;
    display: flex;
    gap: 2rem; /* Espacio entre cada opción */
}

.Menus a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.Menus a:hover {
    color: var(--magenta);
}

/** NUEVA NOTICIA **/

.contnuevanoticia {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 1;
}

.contenedornueva_noticia_img img {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translateX(-100%);
    width: 90%; /* Ajusta el tamaño de la imagen si es necesario */
    max-width: 20rem;
    height: auto;
    z-index: 3; 
}


.nuevanoticia_form h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--blanco);
}

.inputs_nuevanoticia form {
    position: relative;
    top: 0%;
    left: 50%;
    display: flex; 
    flex-direction: column; 
}


.inputs_nuevanoticia label {
    margin-bottom: 0.1rem;
}

.inputs_nuevanoticia input[type="text"],
.inputs_nuevanoticia textarea {
    border: 1px solid #ccc; 
    font-size: 0.8rem;
    width: 30rem;
    resize: none;
    border-radius: 0.4rem
}

.inputs_nuevanoticia input[type="file"] {
    font-size: 0.8rem;
    font-family: 'Poppins';
}

.inputs_nuevanoticia input[type="text"]:focus,
.inputs_nuevanoticia textarea:focus {
    background-color: white;
    border-color: #7f35bba4; 
    outline: none; 
    box-shadow: 0 0 3px #7f35bba4;
}


.inputs_nuevanoticia button {
    margin: 1.5rem 0;
    padding: 0.5rem 0.8rem; 
    background-color: var(--negro); 
    border: none; 
    border-radius: 0.5rem;
    color: white; 
    font-size: 0.8rem;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.inputs_nuevanoticia button:hover {
    background-color: #7f35bba4;
}


.nuevanoticia_preview {
    margin: 1rem;
    padding: 3rem;
    border: 2px solid #649681;
    border-radius: 2rem;
}

.previewnoticia_titulos h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

.redesautor_preview {
    display: flex;
    justify-content: space-between;
}

.redesautor_preview p {
    font-size: 0.7rem;
}

.redes_preview {
    margin-right: 14rem;
}

.redes_preview img {
    width: 1.3rem;
    height: auto;
}

.preview_imagen img {
    margin: 0.5rem 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.preview_resumen p {
    font-family: "Poly", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    max-width: 50%;
    line-height: 1.3;
    margin-top: 0.5rem;
}


.preview_texto p {
    font-family: "Poly", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    max-width: 50%;
    line-height: 1.3;
    max-width: 100%; 
    column-count: 2; 
    column-gap: 3rem; 
    margin-top: 1rem;
}


.inputs_nuevanoticia input[type="file"] {
    font-size: 0.8rem;
}

/* Alinear correctamente el checkbox de eliminar */
.inputs_nuevanotica .checkbox-inline {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

