:root {
    --negro: #000000;
    --gris: #4b4b4b;
    --gris_claro: #b1b1b1;
    --blanco: #f0f0f0;
    --magenta: #AE0061;
    --violeta: #5A61F7;
    --azul: #012187;    
}

/* ESTILOS GENERALES */
body, h1, h2, h3, p, h4, li, ul, section, div, a, ol, img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poiret One", sans-serif;
    font-size: 1rem;
    color: var(--blanco);
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.contenedor_ppal {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;     
}
/*.contenedor_ppal-img {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
} */

.contenedor_ppal-img img {
    opacity: 40%;       
} 

/* Estilos del texto sobre la imagen */

.caja_principal_texto {
    position: absolute;
    top: calc(10% + 300px); /* Ajusta la posición del texto para que esté debajo del logo */
    left: 5%;
    transform: translateX(-50%) rotate(270deg); /* Centra el texto y lo gira 90 grados */
    color: white;
    z-index: 3;
    background-color: #ffffff00; /* Fondo transparente */
    width: auto; /* Asegúrate de que no haya un límite de ancho */
    white-space: nowrap;
}

.caja_principal_texto h1 {
    position: relative;
    font-family: 'Poiret One', sans-serif;
    font-size: 80px;
    top: 10%;
    left: -7%;
    letter-spacing: 1px;
}

.caja_principal_texto h2 {
    position: relative;
    font-family: 'Poiret One', sans-serif;
    font-size: 20x;
    margin-top: -10px; /* Para dar más espacio bajo h1 */
    top: 15%;
    left: -5%;
    font-weight: 100px;
    letter-spacing: 5px;
    font-style: normal;
}


.registro_logo img {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translateX(-50%);
    width: 80px; /* Ajusta el tamaño de la imagen si es necesario */
    max-width: 12rem;
    height: auto;
    z-index: 3;  
}

.Menus {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2.5rem;
    margin-right: 2rem;
    z-index: 1;
    display: flex;
    gap: 2rem; /* Espacio entre cada opción */
}

.Menus a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.Menus a:hover {
    color: var(--magenta);
}

/* ------------------ REGISTRO ------------------*/

.contenedorpadre_registro {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0; 
}

.tarjeta_registro {
    position: relative;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 70%;
    padding: 6rem;  
}


.logoenfoqueamb_registro img {
    max-width: 12rem;
    height: auto;
}


.registrouser_titulo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 1rem; 
    text-align: center; 
}

.registrouser_titulo h1 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: var(--gris);
}

.registrouser_titulo img {
    width: 4rem;
    height: auto;
}

.form-group_imgregistro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}


.formregistro_columnas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.formregistro_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor_botonregistro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.boton_registrarse {
    border: none;
    background-color: #000;
    color: var(--blanco);
    font-size: 0.8rem;
    padding: 0.45rem 5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton_registrarse:hover {
    background-color: var(--verdeagua);
}
