:root {
    --negro: #000000;
    --gris: #4b4b4b;
    --gris_claro: #b1b1b1;
    --blanco: #f0f0f0;
    --magenta: #AE0061;
    --violeta: #5A61F7;
    --azul: #012187;    
}

/* ESTILOS GENERALES */
body, h1, h2, h3, p, h4, li, ul, section, div, a, ol, img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poiret One", sans-serif;
    font-size: 1rem;
    color: var(--blanco);
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.contenedor_ppal {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;     
}
.contenedor_ppal-img {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
} 

.contenedor_ppal-img img {
    opacity: 40%;       
} 

/* Estilos del texto sobre la imagen */

.caja_principal_texto {
    position: absolute;
    top: calc(10% + 300px); /* Ajusta la posición del texto para que esté debajo del logo */
    left: 5%;
    transform: translateX(-50%) rotate(270deg); /* Centra el texto y lo gira 90 grados */
    color: white;
    z-index: 3;
    background-color: #ffffff00; /* Fondo transparente */
    width: auto; /* Asegúrate de que no haya un límite de ancho */
    white-space: nowrap;
}

.caja_principal_texto h1 {
    position: relative;
    font-family: 'Poiret One', sans-serif;
    font-size: 80px;
    top: 10%;
    left: -7%;
    letter-spacing: 1px;
}

.caja_principal_texto h2 {
    position: relative;
    font-family: 'Poiret One', sans-serif;
    font-size: 20x;
    margin-top: -10px; /* Para dar más espacio bajo h1 */
    top: 15%;
    left: -5%;
    font-weight: 100px;
    letter-spacing: 5px;
    font-style: normal;
}

.registro_logo img {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translateX(-50%);
    width: 80px; /* Ajusta el tamaño de la imagen si es necesario */
    max-width: 12rem;
    height: auto;
    z-index: 3;  
}

