<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecNoticias</title>
    <link rel="icon" type="image/png" href="{% static 'img/TCN_logo_color.png' %}">
    <ul>
        <li><a href="{% url 'index' %}">Volver al menú principal</a></li>
        <li><a href="{% url 'quienessomos' %}">¿Quiénes somos?</a></li>
        <li><a href="{% url 'registro' %}">Registrarse</a></li>
    </ul>
    <h1>TECNOTICIAS</h1>
    <h4>NERDS ON DEMAND </h4>
</head>
<body>
    <footer>
        <div class="contenedor_redes">
            <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/instagram.png' %}" alt="instagram" title="instagram"/></a>
            <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/facebook.png' %}" alt="facebook" title="facebook"/></a>
            <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/twitter.png' %}" alt="x-twitter" title="x-twitter"/></a>
            <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/youtube.png' %}" alt="youtube" title="youtube"/></a>
        </div> 
        </div> 
    </footer>   
</body>
</html>