<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TecNoticias</title>
        <a rel="icon" type="image/png" href="img/enfoqueambico.png"></a>
        <li><a href="index2.html">Home</a></li>
        <li><a href="contacto.html">Contactanos</a></li>
        <li><a href="registro.html">Iniciar Sesión</a></li>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            
        </header>

        <div class="contenedor_quienesomos">
            <h1>Quiénes somos</h1>
            <div class="contenedor_quienesomos-imagentx">
                <img src="img/quienessomos.png">
            <div class="quienes-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aut, recusandae nulla, optio velit, quidem iusto nobis tenetur possimus obcaecati quod quae tempore voluptatibus a doloremque! Quas deserunt impedit odio!<br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, sed. Consectetur non rerum nostrum quae itaque, voluptatem, esse alias ab ipsa dignissimos recusandae neque delectus expedita numquam pariatur quas minus.<br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed praesentium doloribus provident quos delectus, commodi iusto, quisquam laborum voluptatum ad qui id, corrupti numquam illum architecto magnam aspernatur expedita aut?
                </p>
            </div>
            </div>    
        </div>

        <footer>
            <div class="contenedor_redes">
                <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="img/iconos/instagram.png" alt="instagram" title="instagram"/></a>
                <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="img/iconos/facebook.png" alt="facebook" title="facebook"/></a>
                <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="img/iconos/twitter.png" alt="x-twitter" title="x-twitter"/></a>
                <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="img/iconos/youtube.png" alt="youtube" title="youtube"/></a>
            </div> 
            
        </footer>
    </body>