:root {
    --negro: #000000;
    --gris: #4b4b4b;
    --gris_claro: #b1b1b1;
    --blanco: #f0f0f0;
    --magenta: #AE0061;
    --lilitacarrio: #7E35BB;
    --violeta: #5A61F7;
    --azul: #012187;    
}


/* ESTILOS GENERALES*/
body, h1, h2, h3, p, h4, li, ul, section, div, a, ol, img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1rem;
    color: var(--blanco);
    box-sizing: border-box;
    
}

body {
    background-color: #000000;
}

/* Estilos del contenedor */
.caja_principal_imagentx {
    position: relative; 
    text-align: center;
    height: 100vh;    
    display: flex;  
    overflow: hidden; 
    
}

.Menus {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2.5rem;
    margin-right: 2rem;
    z-index: 1;
    display: flex; /* Para alinear los elementos horizontalmente */
    gap: 2rem; /* Espacio entre cada opción */
}

.Menus a {
    color: white; /* Ajusta el color de las opciones si es necesario */
    text-decoration: none; /* Elimina el subrayado por defecto de los enlaces */
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente según tu preferencia */
}

.Menus a:hover {
    color: var(--magenta); /* Cambia el color al pasar el mouse */
}


.fondo-imagen img {
    position: absolute;
    width: 100vw;  
    height: 100vh;
    z-index: 1;
    box-sizing: border-box;
    object-fit: cover;
    
}


/* Estilos de la imagen */
.caja_principal_logo img {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translateX(-50%);
    width: 100px; /* Ajusta el tamaño de la imagen si es necesario */
    height: auto;
    z-index: 3; /* Asegura que el logo esté por encima de la imagen de fondo */
}

/* Estilos del texto sobre la imagen */
.caja_principal_texto {
    position: absolute;
    top: calc(10% + 300px); /* Ajusta la posición del texto para que esté debajo del logo */
    left: 5%;
    transform: translateX(-50%) rotate(270deg); /* Centra el texto y lo gira 90 grados */
    color: white;
    z-index: 3;
    background-color: #ffffff00; /* Fondo transparente */
    width: auto; /* Asegúrate de que no haya un límite de ancho */
    white-space: nowrap;
}

.caja_principal_texto h1{
    font-size: 100px;

}
.caja_principal_texto h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30x;
    font-weight: 100px;
    letter-spacing: 5px;
    font-style: normal;
}


